# node modules
node_modules/
client/node_modules/
server/node_modules/

# env files
.env
server/.env
client/.env

# logs
*.log

# build files
dist/
build/

# system files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/